

.slider_bannerG{
    position: relative;
    text-align: center;
}

.slider_bannerG div {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-animation: round 25s linear infinite;
    animation: round 25s linear infinite;
}

.slider_bannerG div img{
    width: 50vw;
}

@-webkit-keyframes round {
    4% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    20% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }
    24% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}
@keyframes round {
    4% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    20% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }
    24% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}

.slider_bannerG div:nth-child(5) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}

.slider_bannerG div:nth-child(4) {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
}

.slider_bannerG div:nth-child(3) {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
}

.slider_bannerG div:nth-child(2) {
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
}

.slider_bannerG div:nth-child(1) {
    -webkit-animation-delay: 20s;
            animation-delay: 20s;
}

.mainG{
    display: flex;
    padding-top: 29%;
    flex-wrap: wrap;
    /* width: 50vw; */
    margin: auto;
    justify-content: center;
}

.mainG .rowG{
    flex: 0 0 50%;
}

.mainG .rowG .boxG{
    min-width: 202px;
    height: auto;
    text-align: center;
    border-style: groove;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: cornsilk;
}

.mainG .rowG .boxG img{
    height: 170px;
}

.mainG .boxG button{
    width: 100px;
    height: 40px;
    border-radius: 5px;
}

.mainG .boxG button.waitingG{
    background-color: rgb(100, 149, 237);
}

.mainG .boxG button.endingG{
    background-color: rgb(218, 83, 83);
}

.mainG .boxG button.buyingG{
    background-color: rgb(64, 209, 228);
}

.k_shei_introG{
    margin: 5px auto;
}

.k_shei_introG .valueG, .percentage_and_dayG, .timeG{
    display: flex;
}

.k_shei_intro_textG, .k_shei_intro_contentG{
    display: inline-block;
}

.k_shei_intro_textG{
    width: 40%;
    text-align: right;
}

.k_shei_intro_contentG{
    width: 60%;
}

.footerG{
    display: flex;
    flex-wrap: wrap;
    /* width: 50vw; */
    margin: 5px auto;
    justify-content: center;
}

.footerG .contentG{
    display: flex;
    width: 100%;
    min-height: 70px;
    padding: 5px;
    justify-content: center;
}

.footerG .contentG .lobby_linkG{
    width: 50%;
    text-align: center;
}

.footerG .contentG .lobby_linkG .footer_btnG{
    display: inline-block;
    width: 100%;
    border-style: groove;
    background-color: darkcyan;
    box-shadow: 3px 3px 0 0 #000;
    margin: 0 2px;
    user-select: none;
    -webkit-user-select: none;
}

.footerG .contentG .lobby_linkG .footer_btnG.active{
    background-color: rgb(61, 72, 230);
}

.footerG .contentG .lobby_linkG .footer_btnG:active{
    background-color: rgb(61, 72, 230);
    cursor: pointer;
}