body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(138, 224, 177);
    /* background-color: lightgray */
}

div.square {
    width: 250px;
    height: 200px;
    padding: 20px;
    text-align: center;
}

div.square.mid {
    position: absolute;
    top: calc(40% - 125px);
    left: calc(50% - 125px);
}

tbody tr th {
    word-break: break-all;/*必須*/
}

.page {
	width : 30%;
	margin : auto;
}

.mTitle {
	display:none;
}

@media 
only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { 
        border: 1px solid #ccc; 
    }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
    }
    
    tbody tr th {
        word-break: break-all;/*必須*/
    }
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	.page {
		width : 90%;
	}

	.mTitle {
		display: inline;
	}
}